@import 'https://fonts.googleapis.com/earlyaccess/notosanstc.css'

$body-font-family = 'Noto Sans TC', Roboto

// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition

.__nuxt-error-page
  .error
    background-color initial !important

.nowrap
  white-space nowrap